<div class="d-flex gap-8 flex-col">
  <mat-card class="input-container">
    <mat-card-title>Choose a hospital</mat-card-title>
    <mat-form-field class="w-100">
      <mat-label>Hospital</mat-label>
      <input 
        matInput
        type="text"
        aria-label="text"
        [matAutocomplete]="auto"
        [formControl]="hospitalControl"
      >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option value="Hospital 1">Hospital 1</mat-option>
        <mat-option value="Hospital 2">Hospital 2</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <app-filter [dataSource]="dataSource" (input)="onInputChange($event)"></app-filter>
  <mat-card>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container *ngFor="let col of displayedColumns.slice(1)" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col | uppercase}}</th>
            <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
